<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="js/file.js"></script>

  <style>
  .spaced{
    margin-bottom: 15px
  }
  </style>
  </head>
  <body>
    <div class ="page-header text-center">
      <h1>Attach Article Text File Below</h1>
    </div>
    <div class='spaced'>
      <form action="fileupload" class = "center-block">
        <input type="file" name="fileupload" value="fileupload" id="fileupload" class = "center-block input-group-lg spaced">
        <input type="submit" value="Submit" class = "center-block btn btn-primary btn-large">
        </form>
      </input>
    </div>
    <!-- <form action="sendFile()" class = "center-block">
      <input type="file" id="fileinput" accept="text/plain"></input>
      <input type="submit"></input>
    </form> -->
    <div id = "links">
      <label id = "label" class = "text-center">test</label>
    </div>
  </body>
</html>
