<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>
    <style>
    body{

    }
    a{
      color:BLACK
    }
    .spaced{
      margin-bottom: 10px
    }
    </style>
  </head>
  <body>
    <div class ="page-header text-center">
      <h1>Article Suggest</h1>
    </div>
    <div class="text-center text-body spaced">
      <a href="/url">Upload article using URL <i class="material-icons">computer</i></a>
    </div>
    <div class="text-center text-body spaced">
      <a href="/file">Upload article using text file <i class="material-icons"> attachment</i></a>
    </div>
    <div class="text-center text-body spaced">
      <a href="/text">Upload article in plaintext <i class="material-icons">font_download</i></a>
    </div>

  </body>
  </html>
