<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="js/url.js"></script>

  <style>
  .spaced{
    margin-bottom: 15px
  }
  </style>
  </head>
  <body>
    <div class='spaced'>
      <div class ="page-header text-center">
        <h1>Enter Article URL Below</h1>
      </div>
      <input type="url" id="urlinput"required class='center-block spaced'>
      </input>
      <button id = "urlbutton" class="center-block btn btn-primary btn-large" onclick="submitURL()">
        Submit
      </button>
    </div>
    <div id="links" class = "text-center">
    </div>
  </body>
</html>
